:root {
  --green: green;
  --white: #ffffff;
  --deepyellow: rgb(152, 152, 16);
  --hoveryellow: rgb(121, 121, 17);
  --lightyellow: rgb(191, 191, 15);
  --lighteryellow: yellow;
}

.App {
  text-align: center;
}
body {
  background-color: var(--green);
}
.container {
  background-color: var(--green);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}
.bing {
  text-align: center;
}
.authen {
  text-align: center;
  font-size: larger;
}
.sign-in {
  margin-top: 1%;
  padding: 1%;
  font-size: 15px;
  background-color: var(--deepyellow);
  color: white;
}
.sign-in:hover {
  background-color: var(--hoveryellow);
}
.Navigate {
  background-color: var(--lightyellow);
  color: black;
  margin: 25px;
  padding: 10px;
  text-decoration: none;
}
.Navigate:hover {
  background: rgb(168, 168, 8);
}
.nested {
  color: var(--lighteryellow);
  font-size: 40px;
}
.invalid {
  color: rgb(149, 12, 12);
  font-weight: bold;
}
.input_user {
  margin: 10px;
  padding: 6px;
}
.Bank {
  text-align: center;
}
.dashboard {
  width: 400px;
  margin: 50px auto;
  padding: 3px;
  height: auto;
  border: 2px solid #fafafa;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0.325rem 0.25rem rgba(0, 0, 0, 0.075);
}
.nested_route {
  color: white;
  text-decoration: none;
  border: 2px solid var(--lighteryellow);
  background-color: var(--deepyellow);
  margin-top: 8%;
  padding-left: 10px;
  padding-right: 15px;
  margin: 15px;
}

@media only screen and (max-device-width: 380px) {
  .dashboard {
    margin-bottom: -100px;
    width: 100%;
    background-color: var(--green);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--white);
  }
  nav {
    height: -1000px;
    width: 100%;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0 auto;
  }
  .container {
    background-color: var(--green);
    min-height: 100vh;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--white);
    width: 100%;
    margin: 0 auto;
  }
}
.greeting {
  margin-left: 20px;
  color: #272727af;
}
pre {
  color: rgb(132, 17, 17);
}
.wallet {
  height: 150px;
  width: 300px;
  background-color: #074136;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.wallet_balance {
  font-size: 25px;
  font-weight: bold;
  color: var(--lightyellow);
  margin-bottom: 5px;
}
.wallet_balance-amount {
  color: #fafafa;
}
.greeting {
  margin-left: 20px;
  color: var(--lighteryellow);
}
#form_1 {
  width: 300px;
  margin: 0 auto;
}
#number-div {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#amount-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
#amount {
  border-radius: 5px;
  padding: 7px;
}
.recharge {
  color: var(--lighteryellow);
  margin: 4px;
  text-align: center;
}
.error_msg {
  color: rgb(118, 3, 3);
}

h1 {
  padding: 3px;
  margin-bottom: -3px;
}
h4,
h2 {
  text-align: center;
  color: yellow;
}
.avatar-div {
  margin: 15px;
  padding: 10px;
  border: 2px solid white;
}
